<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebSocket实现实时日志</title>
</head>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/rolling.js}"></script>
<body>
<input type="button" style="margin:50px 50% 0 50%" class="b btn-info" value="执行" onclick="rolling.execute()">

<!--滚动日志窗口-->
<div id="rolling" style="margin: 5%;padding:1%; border: silver 1px solid;background-color: ghostwhite">
    <div th:id="container" style="height: 500px;  overflow:auto">

    </div>
</div>

</body>
</html>